.body{
    margin: 0%;
    background: linear-gradient(#e66465, #9198e5);
    overflow-x: hidden;
}

.main{
  height: 82vh;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 16px;
}

.header-info{
  display: flex;
  justify-content: space-around;
}